.bm-header__container {
  border-bottom: 1px solid #e6eff5;
  background: #fff;
  height: 85px;
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
    color: #343c6a;
    font-size: 1.5rem;
  }
}
