$bm-primary: (
  50: #e9f9fc,
  100: #c8eff7,
  200: #a4e5f2,
  300: #7fdaec,
  400: #63d2e8,
  500: #48cae4,
  600: #41c5e1,
  700: #38bddd,
  800: #30b7d9,
  900: #21abd1,
  A100: #d1fbff,
  A200: #94f5ff,
  A400: #7af3ff,
  A700: #6bf2ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bm-accent: (
  50: #f0f8f7,
  100: #daeeec,
  200: #c1e2df,
  300: #a8d6d2,
  400: #96cec8,
  500: #83c5be,
  600: #7bbfb8,
  700: #70b8af,
  800: #66b0a7,
  900: #53a399,
  A100: #e7fff9,
  A200: #aaffe9,
  A400: #90ffe3,
  A700: #81ffdf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
